@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@Html.Partial("_EditOrCreateBoard")

@section head
{
    <script src="@Url.Content("~/Scripts/validation.js")" type="text/javascript"></script>

    <script type="text/javascript">

            $.getJSON("@Url.Action("ValidationInfo", "Boards")",
                function (data) {
                    validate.input("#Name", data.Name, "div#divname");
                    validate.input("#Description", data.Description, "div#divdesc");
                }
            );


            //$('input[type=submit]').click(function (e) {
                    
            //    $(this).attr('value', 'Working');
            //    if ($('.field-validation-error').length != 0)
            //        $(this).attr('disabled', true);
            //    $('input').submit();
            //});

    

    </script>

}